@model IEnumerable<CardBuilder.Models.Card>
@{
    ViewBag.Title = "Home Page";
}

@{
    var i = 0;
}

@foreach (var card in Model)
{
    i++;

    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <p>@card.ActionCost</p>
                </div>
                <div class="col-md-6 align-right">
                    <p>@card.CardType</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center card-description">
                @card.Action
            </div>
        </div>
    </div>

    if (i == 3)
    {
        <div class="clearfix"></div>
        i = 0;
    }
}
